<form [formGroup]="formPlayer">
  <label for="add"
    >Mode d'ajout
    <select name="add" id="add" formControlName="add">
      <option value="file">Fichier local</option>
      <option value="url">URL</option>
    </select>
  </label>
  <label for="select"
    >Sélectionner un fichier audio
    <input
      type="file"
      accept="audio/*"
      *ngIf="formPlayer.controls['add'].value === 'file'"
      formControlName="select"
      (change)="inputChange($event)"
    />
    <input
      type="text"
      *ngIf="formPlayer.controls['add'].value === 'url'"
      formControlName="select"
    />
  </label>
  <input
    type="button"
    value="Ajouter"
    (click)="addTrack()"
  />
</form>

